.about-content {
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.about-logo {
  font-size: 80px;
  color: #247fff;
}

.email {
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 16px;
  margin-top: 12px;
  text-decoration: none;
}

.email a {
  color: #000;
  text-decoration: none;
}


