<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding about-content">

  <!-- Logo Icon -->
  <div class="logo-container">
    <ion-icon name="bag-handle-outline" class="about-logo"></ion-icon>
  </div>

  <!-- Title -->
  <h2>About Shoppe</h2>

  <!-- Description -->
  <p>
    Shoppe - Shopping UI kit* is likely a user interface (UI) kit designed to facilitate
    the development of e-commerce or shopping-related applications. UI kits are collections
    of pre-designed elements, components, and templates that developers and designers can use
    to create consistent and visually appealing user interfaces.
  </p>

  <p>
    If you need help or you have any questions, feel free to contact me by email.
  </p>


</ion-content>

<!-- Bottom Tabs -->
<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="inbox">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
